@use 'scss/variables' as *;
@use 'scss/mixins' as *;

.wrapper {
  background-color: $color-white;
  padding: 1.2rem;
  border-radius: $border-radius;
  position: relative;
  box-shadow: $box-shadow;
  margin-bottom: 2.5rem;

  @include breakpoint-up(medium) {
    padding: 2rem;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
  }
}


.divider {
  border-color: rgba($color-dark-cyan-20, .1);

  @include breakpoint-up(medium) {
    display: none;
  }
}

.isFeatured {
  border-left: 5px solid $color-primary;
}