@use 'scss/variables' as *;
@use 'scss/mixins' as *;

.wrapper {
  background-color: $color-white;
  padding: 1.2rem;
  border-radius: $border-radius;
  position: relative;
  box-shadow: $box-shadow;
  margin-bottom: 2.5rem;

  @include breakpoint-up(medium) {
    padding: 2rem;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
  }
}


.divider {
  border-color: rgba($color-dark-cyan-20, .1);

  @include breakpoint-up(medium) {
    display: none;
  }
}

// .categories {
//   padding-top: .6rem;
//   display: flex;
//   flex-wrap: wrap;
//   gap: 1rem;
// }

// .tablet {
//   background-color: $color-light-cyan;
//   border: none;
//   padding: 0.4rem .5rem .2rem;
//   color: $color-primary;
//   border-radius: $border-radius;
//   font-size: .8125rem;
//   font-weight: bold;
//   transition: $transition;
// }

// .tablet:hover {
//   cursor: pointer;
//   color: $color-white;
//   background-color: $color-primary;
// }

.isFeatured {
  border-left: 5px solid $color-primary;
}