@use 'scss/variables' as *;

.attribution {
  padding: 1rem;
  font-size: .7rem;
  text-align: center;
  color: $color-surfie-green;
}

a {
  color: $color-surfie-green;
}

a:visited, a:active {
  color: $color-scampi;
}

a:hover {
  text-decoration: underline;
}