@use 'scss/variables' as *;

.attribution {
  padding: 1rem;
  font-size: .7rem;
  text-align: center;
  color: $color-dark-cyan-10;
}

a {
  text-decoration: none;
  color: $color-primary;
}

a:hover {
  text-decoration: underline;
}