$color-primary: hsl(180, 29%, 50%);
$color-bg: hsl(180, 52%, 96%);
$light-cyan: hsl(180, 31%, 95%);
$dark-cyan-10: hsl(180, 8%, 52%);
$dark-cyan-20: hsl(180, 14%, 20%);
$font-family: 'Spartan', sans-serif;